@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: "Roboto mono", serif;
  font-weight: 400;
  color: #D9D9D9;
}

a {
  color: #D9D9D9;

  text-decoration: none;
}

.main-header {
  font-size: 36px;

  text-transform: uppercase;
  background-color: #07203F;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.main-header__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.hero {
  background-color: #07203F;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  padding-top: 135px;
  padding-bottom: 150px;
}

.hero__description {
  width: 52%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}

.hero__title {
  font-size: 64px;
  line-height: 78px;
  font-weight: 800;
  text-transform: uppercase;
}

.hero__text {
  font-size: 36px;
  line-height: 42px;
}

.hero__button {
  width: 100%;
  padding: 28px 10px;

  font-family: "Roboto mono", serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #D9D9D9;
  border-radius: 80px;
}

.hero__button:hover {
  color: #D9D9D9;

  background-color: #41d6d1;
}

.hero__photo img {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px #ffffff;
}

.hero__photo img:hover {
  border-radius: 35%;
}
